body {
  position: relative;
}

#fixed-block {
	position: fixed;
	top: 0px;
 	left: 0px;
}

#footnotes {
	position: fixed;
	bottom: 0px;
 	left: 0px;
}


#with-offset {
	margin-top: 5px;
	
}

#floating-square {
	position: fixed;
	bottom: 0px;
 	left: 0px;
}